@layer core_utils
{
	[hidden]
	{
		/* Layout */
		display: none;
	}

	svg
	{
		/* Appearance */
		fill: currentColor;
	}

	:is(img, svg).icon
	{
		/* Size */
		flex-shrink: 0;
	}

	@keyframes loading
	{
		0%
		{
			/* Appearance */
			animation-timing-function: cubic-bezier(0.5856, 0.0703, 0.4143, 0.9297);
			transform: rotate(0);
		}

		100%
		{
			/* Appearance */
			transform: rotate(360deg);
		}
	}

	.loading
	{
		/* Meta */
		box-sizing: content-box;

		/* Layout */
		display: block;
		flex-shrink: 0;

		/* Size */
		width: 1lh;
		height: 1lh;

		/* Appearance */
		animation: loading 1s infinite linear;
		color: var(--app-color-blue-80);
		transform-origin: 50% 50%;
		transform-box: fill-box;
	}

	.loading:after
	{
		/* Meta */
		content: " ";
		box-sizing: border-box;

		/* Layout */
		display: block;

		/* Size */
		width: 2lh;
		height: 2lh;

		/* Spacing */
		border: 0.3lh solid currentColor;
		border-radius: 50%;
		border-left-color: transparent;

		/* Appearance */
		backface-visibility: hidden;
		transform-origin: 0 0;
		transform: translateZ(0) scale(0.5);
	}

	.small
	{
		/* Font */
		font-size: 81.25%;
	}

	small.small
	{
		align-self: flex-end;
	}

	.red
	{
		/* Appearance */
		color: var(--app-color-red-80);
	}

	.orange
	{
		/* Appearance */
		color: var(--app-color-orange-80);
	}

	.yellow
	{
		/* Appearance */
		color: var(--app-color-yellow-80);
	}

	.lime
	{
		/* Appearance */
		color: var(--app-color-lime-80);
	}

	.green
	{
		/* Appearance */
		color: var(--app-color-green-80);
	}

	.turquoise
	{
		/* Appearance */
		color: var(--app-color-turquoise-80);
	}

	.cyan
	{
		/* Appearance */
		color: var(--app-color-cyan-80);
	}

	.blue
	{
		/* Appearance */
		color: var(--app-color-blue-80);
	}

	.violet
	{
		/* Appearance */
		color: var(--app-color-violet-80);
	}

	.purple
	{
		/* Appearance */
		color: var(--app-color-purple-80);
	}

	.magenta
	{
		/* Appearance */
		color: var(--app-color-magenta-80);
	}

	.rose
	{
		/* Appearance */
		color: var(--app-color-rose-80);
	}
}